################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TactileGame/bin/Debug/
*Debug*
*.suo*
*/Thumbs.db
TactileGame/Resources/bmps/Thumbs.db
